body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: lightskyblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  /* background-color: white; */
  text-align: center;
}

.container h1 {
  font-size: 4rem;
  letter-spacing: 5px;
}

.container .btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin: 10px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.btn-container .btn {
  background-image: url(images/snare.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 150px;
  border: 2px solid brown;
  border-radius: 10px;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 2rem;
  text-transform: capitalize;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.btn-container .btn:hover {
  color: yellow;
}

.btn-container .btn:active {
  background-size: 105%;
}
